<a href="https://colab.research.google.com/github/Shreyas3108/Upgrad_DS/blob/master/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv('https://github.com/Shreyas3108/Upgrad_DS/raw/master/bank-additional-full.csv' , delimiter=';')

In [7]:
df.head()

   age        job  marital  ... euribor3m nr.employed   y
0   56  housemaid  married  ...     4.857      5191.0  no
1   57   services  married  ...     4.857      5191.0  no
2   37   services  married  ...     4.857      5191.0  no
3   40     admin.  married  ...     4.857      5191.0  no
4   56   services  married  ...     4.857      5191.0  no

[5 rows x 21 columns]

In [8]:
df.shape

(41188, 21)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
age               41188 non-null int64
job               41188 non-null object
marital           41188 non-null object
education         41188 non-null object
default           41188 non-null object
housing           41188 non-null object
loan              41188 non-null object
contact           41188 non-null object
month             41188 non-null object
day_of_week       41188 non-null object
duration          41188 non-null int64
campaign          41188 non-null int64
pdays             41188 non-null int64
previous          41188 non-null int64
poutcome          41188 non-null object
emp.var.rate      41188 non-null float64
cons.price.idx    41188 non-null float64
cons.conf.idx     41188 non-null float64
euribor3m         41188 non-null float64
nr.employed       41188 non-null float64
y                 41188 non-null object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [10]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [11]:
df['marital'].value_counts()

married     24928
single      11568
divorced     4612
unknown        80
Name: marital, dtype: int64

In [12]:
df['education'].value_counts()

university.degree      12168
high.school             9515
basic.9y                6045
professional.course     5243
basic.4y                4176
basic.6y                2292
unknown                 1731
illiterate                18
Name: education, dtype: int64

In [13]:
df['default'].value_counts()

no         32588
unknown     8597
yes            3
Name: default, dtype: int64

In [14]:
df['housing'].value_counts()

yes        21576
no         18622
unknown      990
Name: housing, dtype: int64

In [15]:
df['loan'].value_counts()

no         33950
yes         6248
unknown      990
Name: loan, dtype: int64

In [16]:
df['contact'].value_counts()

cellular     26144
telephone    15044
Name: contact, dtype: int64

In [17]:
df['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [0]:
df = df.drop(['day_of_week'],axis = 1)

In [22]:
df['poutcome'].value_counts()

nonexistent    35563
failure         4252
success         1373
Name: poutcome, dtype: int64

In [0]:
df = df.drop(['duration'],axis = 1)

In [29]:
df.select_dtypes(['O']).columns

Index(['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome', 'y'],
      dtype='object')

In [25]:
df['job'].value_counts()

admin.           10422
blue-collar       9254
technician        6743
services          3969
management        2924
retired           1720
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [0]:
df1 = pd.get_dummies(data=df , columns=['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact',
       'month', 'poutcome'])

In [31]:
df1.shape

(41188, 58)

In [0]:
df1['y'] = df1['y'].apply(lambda x:1 if x == 'yes' else 0)

In [0]:
X = df1.drop('y' , axis = 1)
y = df1['y']

In [0]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

In [43]:
X1 = add_constant(X)
vif = pd.Series([variance_inflation_factor(X.values, i) 
               for i in range(X.shape[1])], 
              index=X.columns)

/usr/local/lib/python3.6/dist-packages/numpy/core/fromnumeric.py:2389: FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
  return ptp(axis=axis, out=out, **kwargs)
/usr/local/lib/python3.6/dist-packages/statsmodels/stats/outliers_influence.py:185: RuntimeWarning: divide by zero encountered in double_scalars
  vif = 1. / (1. - r_squared_i)

In [0]:
from sklearn.feature_selection import RFE

In [0]:
from sklearn.linear_model import LogisticRegression

In [0]:
logreg = LogisticRegression()

In [0]:
rfe = RFE(logreg , 12)

In [140]:
rfe.fit(X , y)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=100,
                                 multi_class='warn', n_jobs=None, penalty='l2',
                                 random_state=None, solver='warn', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=12, step=1, verbose=0)

In [141]:
rfe.n_features_to_select

12

In [142]:
pd.DataFrame(rfe.support_ , index = X.columns)

                                   0
age                            False
campaign                       False
pdays                          False
previous                        True
emp.var.rate                   False
cons.price.idx                 False
cons.conf.idx                  False
euribor3m                       True
nr.employed                    False
job_admin.                     False
job_blue-collar                False
job_entrepreneur               False
job_housemaid                  False
job_management                 False
job_retired                     True
job_self-employed              False
job_services                   False
job_student                     True
job_technician                 False
job_unemployed                 False
job_unknown                    False
marital_divorced               False
marital_married                False
marital_single                 False
marital_unknown                False
education_basic.4y             False
education_basic.6y             False
education_basic.9y             False
education_high.school          False
education_illiterate           False
education_professional.course  False
education_university.degree    False
education_unknown              False
default_no                     False
default_unknown                 True
default_yes                    False
housing_no                     False
housing_unknown                False
housing_yes                    False
loan_no                        False
loan_unknown                   False
loan_yes                       False
contact_cellular               False
contact_telephone              False
month_apr                       True
month_aug                       True
month_dec                      False
month_jul                      False
month_jun                      False
month_mar                       True
month_may                       True
month_nov                       True
month_oct                      False
month_sep                      False
poutcome_failure                True
poutcome_nonexistent           False
poutcome_success                True

In [143]:
rfe.predict(X)

array([0, 0, 0, ..., 0, 0, 0])

In [0]:
from sklearn.metrics import accuracy_score

In [145]:
accuracy_score(y , rfe.predict(X))

0.899048266485384

In [0]:
rfe1 = RFE(logreg ,12)

In [82]:
rfe1.fit(X , y)

/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

RFE(estimator=LogisticRegression(C=1.0, class_weight=None, dual=False,
                                 fit_intercept=True, intercept_scaling=1,
                                 l1_ratio=None, max_iter=500,
                                 multi_class='warn', n_jobs=None, penalty='l2',
                                 random_state=None, solver='warn', tol=0.0001,
                                 verbose=0, warm_start=False),
    n_features_to_select=12, step=1, verbose=0)

In [83]:
accuracy_score(y , rfe1.predict(X))

0.899048266485384

In [0]:
X2 = add_constant(X)

In [0]:
X1 = X1.astype('float64')

In [119]:
import statsmodels.api as sm
logit_model=sm.Logit(y,X1)
result=logit_model.fit()
print(result.summary())

Warning: Maximum number of iterations has been exceeded.
         Current function value: 0.276290
         Iterations: 35
                           Logit Regression Results
==============================================================================
Dep. Variable:                      y   No. Observations:                41188
Model:                          Logit   Df Residuals:                    41140
Method:                           MLE   Df Model:                           47
Date:                Wed, 03 Jul 2019   Pseudo R-squ.:                  0.2151
Time:                        17:21:33   Log-Likelihood:                -11380.
converged:                      False   LL-Null:                       -14499.
Covariance Type:            nonrobust   LLR p-value:                     0.000
=================================================================================================
                                    coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------------
const                           -67.8924        nan        nan        nan         nan         nan
age                               0.0002      0.002      0.101      0.920      -0.004       0.004
campaign                         -0.0465      0.009     -5.017      0.000      -0.065      -0.028
pdays                            -0.0011      0.000     -5.444      0.000      -0.001      -0.001
previous                         -0.0589      0.056     -1.059      0.290      -0.168       0.050
emp.var.rate                     -1.4492      0.124    -11.710      0.000      -1.692      -1.207
cons.price.idx                    2.0446      0.219      9.320      0.000       1.615       2.475
cons.conf.idx                     0.0301      0.007      4.327      0.000       0.016       0.044
euribor3m                         0.1874      0.114      1.645      0.100      -0.036       0.411
nr.employed                       0.0066      0.003      2.454      0.014       0.001       0.012
job_admin.                       -5.6483   4.29e+05  -1.32e-05      1.000   -8.42e+05    8.42e+05
job_blue-collar                  -5.8009    1.2e+05  -4.82e-05      1.000   -2.36e+05    2.36e+05
job_entrepreneur                 -5.7236   9.55e+04  -5.99e-05      1.000   -1.87e+05    1.87e+05
job_housemaid                    -5.7422   1.76e+05  -3.27e-05      1.000   -3.44e+05    3.44e+05
job_management                   -5.7111   3.39e+05  -1.69e-05      1.000   -6.64e+05    6.64e+05
job_retired                      -5.4029        nan        nan        nan         nan         nan
job_self-employed                -5.7203        nan        nan        nan         nan         nan
job_services                     -5.7835   2.57e+05  -2.25e-05      1.000   -5.05e+05    5.05e+05
job_student                      -5.4439   4.22e+05  -1.29e-05      1.000   -8.26e+05    8.26e+05
job_technician                   -5.6698        nan        nan        nan         nan         nan
job_unemployed                   -5.6672   1.61e+05  -3.51e-05      1.000   -3.16e+05    3.16e+05
job_unknown                      -5.8126        nan        nan        nan         nan         nan
marital_divorced                -17.1380   5.25e+05  -3.26e-05      1.000   -1.03e+06    1.03e+06
marital_married                 -17.0970   4.89e+05  -3.49e-05      1.000   -9.59e+05    9.59e+05
marital_single                  -17.0526   4.89e+05  -3.48e-05      1.000   -9.59e+05    9.59e+05
marital_unknown                 -16.8382   5.04e+05  -3.34e-05      1.000   -9.87e+05    9.87e+05
education_basic.4y               -8.6831        nan        nan        nan         nan         nan
education_basic.6y               -8.5544        nan        nan        nan         nan         nan
education_basic.9y               -8.7087        nan        nan        nan         nan         nan
education_high.school            -8.6518        nan        nan        nan         nan         nan
education_illiterate             -7.7374        nan        nan        nan         nan         nan
education_professional.course    -8.6360        nan        nan        nan         nan         nan
education_university.degree      -8.5752        nan        nan        nan         nan         nan
education_unknown                -8.5774        nan        nan        nan         nan         nan
default_no                      -17.7758        nan        nan        nan         nan         nan
default_unknown                 -18.0281        nan        nan        nan         nan         nan
default_yes                     -32.3190        nan        nan        nan         nan         nan
housing_no                      -22.6801        nan        nan        nan         nan         nan
housing_unknown                 -22.7269   1.06e+07  -2.15e-06      1.000   -2.08e+07    2.08e+07
housing_yes                     -22.7085        nan        nan        nan         nan         nan
loan_no                         -22.7007        nan        nan        nan         nan         nan
loan_unknown                    -22.7370   1.06e+07  -2.15e-06      1.000   -2.07e+07    2.07e+07
loan_yes                        -22.7271        nan        nan        nan         nan         nan
contact_cellular                -33.6899        nan        nan        nan         nan         nan
contact_telephone               -34.4228        nan        nan        nan         nan         nan
month_apr                        -6.9438   1.24e+06  -5.62e-06      1.000   -2.42e+06    2.42e+06
month_aug                        -6.4842   1.24e+06  -5.24e-06      1.000   -2.42e+06    2.42e+06
month_dec                        -6.4980   1.24e+06  -5.26e-06      1.000   -2.42e+06    2.42e+06
month_jul                        -6.8682   1.24e+06  -5.56e-06      1.000   -2.42e+06    2.42e+06
month_jun                        -7.5768   1.24e+06  -6.13e-06      1.000   -2.42e+06    2.42e+06
month_mar                        -5.4646   1.24e+06  -4.42e-06      1.000   -2.42e+06    2.42e+06
month_may                        -7.3331   1.24e+06  -5.93e-06      1.000   -2.42e+06    2.42e+06
month_nov                        -7.3758   1.24e+06  -5.97e-06      1.000   -2.42e+06    2.42e+06
month_oct                        -6.8794   1.24e+06  -5.56e-06      1.000   -2.42e+06    2.42e+06
month_sep                        -6.6782   1.24e+06   -5.4e-06      1.000   -2.42e+06    2.42e+06
poutcome_failure                -23.0914    2.7e+05  -8.57e-05      1.000   -5.28e+05    5.28e+05
poutcome_nonexistent            -22.6440    2.7e+05   -8.4e-05      1.000   -5.28e+05    5.28e+05
poutcome_success                -22.3138    2.7e+05  -8.28e-05      1.000   -5.28e+05    5.28e+05
=================================================================================================

In [0]:
results_summary = result.summary()
results_as_html = results_summary.tables[1].as_html()
res = pd.read_html(results_as_html, header=0, index_col=0)[0]

In [117]:
res[~res['P>|z|'].isnull()].index

Index(['age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_services', 'job_student', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'housing_unknown', 'loan_unknown', 'month_apr',
       'month_aug', 'month_dec', 'month_jul', 'month_jun', 'month_mar',
       'month_may', 'month_nov', 'month_oct', 'month_sep', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success'],
      dtype='object')

In [0]:
sel2 = ['const','age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_services', 'job_student', 'job_unemployed',
       'marital_divorced', 'marital_married', 'marital_single',
       'marital_unknown', 'housing_unknown', 'loan_unknown', 'month_apr',
       'month_aug', 'month_dec', 'month_jul', 'month_jun', 'month_mar',
       'month_may', 'month_nov', 'month_oct', 'month_sep', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [120]:
import statsmodels.api as sm
logit_model1=sm.Logit(y,X1[sel2])
result1=logit_model1.fit()
print(result1.summary2())

Optimization terminated successfully.
         Current function value: 0.278355
         Iterations 10
                                   Results: Logit
=====================================================================================
Model:                      Logit                  Pseudo R-squared:       0.209
Dependent Variable:         y                      AIC:                    22995.7879
Date:                       2019-07-03 17:22       BIC:                    23280.4427
No. Observations:           41188                  Log-Likelihood:         -11465.
Df Model:                   32                     LL-Null:                -14499.
Df Residuals:               41155                  LLR p-value:            0.0000
Converged:                  1.0000                 Scale:                  1.0000
No. Iterations:             10.0000
-------------------------------------------------------------------------------------
                      Coef.     Std.Err.      z     P>|z|      [0.025       0.975]
-------------------------------------------------------------------------------------
const                -59.9479 3731673.9363  -0.0000 1.0000 -7314006.4652 7313886.5693
age                    0.0023       0.0018   1.3395 0.1804       -0.0011       0.0058
campaign              -0.0506       0.0093  -5.4534 0.0000       -0.0688      -0.0324
pdays                 -0.0011       0.0002  -5.4159 0.0000       -0.0015      -0.0007
previous              -0.0230       0.0553  -0.4165 0.6770       -0.1314       0.0854
emp.var.rate          -0.9895       0.1143  -8.6600 0.0000       -1.2135      -0.7656
cons.price.idx         1.1123       0.1978   5.6244 0.0000        0.7247       1.4999
cons.conf.idx          0.0034       0.0064   0.5224 0.6014       -0.0092       0.0159
euribor3m              0.1888       0.1125   1.6785 0.0933       -0.0317       0.4092
nr.employed           -0.0009       0.0026  -0.3590 0.7196       -0.0060       0.0041
job_admin.             0.0024       0.0487   0.0502 0.9600       -0.0929       0.0978
job_blue-collar       -0.2436       0.0572  -4.2580 0.0000       -0.3557      -0.1315
job_entrepreneur      -0.1085       0.1063  -1.0207 0.3074       -0.3169       0.0999
job_housemaid         -0.1839       0.1222  -1.5046 0.1324       -0.4233       0.0556
job_management        -0.0587       0.0740  -0.7928 0.4279       -0.2037       0.0864
job_services          -0.1873       0.0726  -2.5820 0.0098       -0.3295      -0.0451
job_student            0.1641       0.0984   1.6676 0.0954       -0.0288       0.3570
job_unemployed        -0.0924       0.1098  -0.8411 0.4003       -0.3076       0.1229
marital_divorced     -15.0334          nan      nan    nan           nan          nan
marital_married      -14.9998       0.1780 -84.2742 0.0000      -15.3487     -14.6510
marital_single       -14.9325      -0.0000      inf 0.0000      -14.9325     -14.9325
marital_unknown      -14.6815      -0.0000      inf 0.0000      -14.6815     -14.6815
housing_unknown       -0.0297          nan      nan    nan           nan          nan
loan_unknown          -0.0297          nan      nan    nan           nan          nan
month_apr             -6.1114          nan      nan    nan           nan          nan
month_aug             -5.6014          nan      nan    nan           nan          nan
month_dec             -5.7229          nan      nan    nan           nan          nan
month_jul             -5.7426          nan      nan    nan           nan          nan
month_jun             -6.4925          nan      nan    nan           nan          nan
month_mar             -4.8666          nan      nan    nan           nan          nan
month_may             -6.6872          nan      nan    nan           nan          nan
month_nov             -6.4040          nan      nan    nan           nan          nan
month_oct             -6.0518          nan      nan    nan           nan          nan
month_sep             -5.9725          nan      nan    nan           nan          nan
poutcome_failure     -20.3733  446852.7402  -0.0000 1.0000  -875835.6504  875794.9038
poutcome_nonexistent -19.9280  446852.7402  -0.0000 1.0000  -875835.2051  875795.3491
poutcome_success     -19.5694  446852.7402  -0.0000 1.0000  -875834.8465  875795.7077
=====================================================================================

In [0]:
sel2 = ['const','age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_services', 'job_student', 'job_unemployed',
       'marital_married', 'marital_single',
       'marital_unknown', 'poutcome_failure',
       'poutcome_nonexistent', 'poutcome_success']

In [122]:
import statsmodels.api as sm
logit_model1=sm.Logit(y,X1[sel2])
result1=logit_model1.fit()
print(result1.summary2())

Optimization terminated successfully.
         Current function value: 0.285351
         Iterations 8
                           Results: Logit
=====================================================================
Model:                Logit             Pseudo R-squared:  0.189
Dependent Variable:   y                 AIC:               23552.1078
Date:                 2019-07-03 17:23  BIC:               23750.5035
No. Observations:     41188             Log-Likelihood:    -11753.
Df Model:             22                LL-Null:           -14499.
Df Residuals:         41165             LLR p-value:       0.0000
Converged:            1.0000            Scale:             1.0000
No. Iterations:       8.0000
---------------------------------------------------------------------
                      Coef.   Std.Err.    z    P>|z|   [0.025  0.975]
---------------------------------------------------------------------
const                -18.7161      nan     nan    nan     nan     nan
age                    0.0053   0.0017  3.0822 0.0021  0.0019  0.0087
campaign              -0.0490   0.0093 -5.2434 0.0000 -0.0673 -0.0307
pdays                 -0.0012   0.0002 -5.9300 0.0000 -0.0015 -0.0008
previous              -0.0000   0.0552 -0.0007 0.9995 -0.1082  0.1081
emp.var.rate          -0.4818   0.0586 -8.2170 0.0000 -0.5967 -0.3669
cons.price.idx         0.5353   0.0842  6.3550 0.0000  0.3702  0.7005
cons.conf.idx          0.0188   0.0052  3.6374 0.0003  0.0087  0.0289
euribor3m              0.0295   0.0742  0.3972 0.6912 -0.1160  0.1749
nr.employed           -0.0050   0.0013 -3.9821 0.0001 -0.0075 -0.0025
job_admin.            -0.0050   0.0478 -0.1048 0.9166 -0.0986  0.0886
job_blue-collar       -0.3930   0.0558 -7.0389 0.0000 -0.5025 -0.2836
job_entrepreneur      -0.2028   0.1050 -1.9320 0.0534 -0.4085  0.0029
job_housemaid         -0.2028   0.1206 -1.6814 0.0927 -0.4392  0.0336
job_management        -0.1109   0.0728 -1.5247 0.1273 -0.2536  0.0317
job_services          -0.2934   0.0711 -4.1272 0.0000 -0.4327 -0.1541
job_student            0.2369   0.0966  2.4512 0.0142  0.0475  0.4263
job_unemployed        -0.0988   0.1079 -0.9153 0.3600 -0.3103  0.1127
marital_married        0.0293   0.0587  0.4992 0.6176 -0.0858  0.1444
marital_single         0.1516   0.0666  2.2759 0.0229  0.0210  0.2821
marital_unknown        0.3435   0.3520  0.9760 0.3291 -0.3463  1.0333
poutcome_failure      -6.6635      nan     nan    nan     nan     nan
poutcome_nonexistent  -6.1567      nan     nan    nan     nan     nan
poutcome_success      -5.8958      nan     nan    nan     nan     nan
=====================================================================

In [0]:
sel2 = ['const','age', 'campaign', 'pdays', 'previous', 'emp.var.rate',
       'cons.price.idx', 'cons.conf.idx', 'euribor3m', 'nr.employed',
       'job_admin.', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid',
       'job_management', 'job_services', 'job_student', 'job_unemployed',
       'marital_married', 'marital_single',
       'marital_unknown']

In [124]:
import statsmodels.api as sm
logit_model1=sm.Logit(y,X1[sel2])
result1=logit_model1.fit()
print(result1.summary2())

Optimization terminated successfully.
         Current function value: 0.285899
         Iterations 8
                          Results: Logit
===================================================================
Model:                Logit            Pseudo R-squared: 0.188
Dependent Variable:   y                AIC:              23593.2003
Date:                 2019-07-03 17:23 BIC:              23774.3442
No. Observations:     41188            Log-Likelihood:   -11776.
Df Model:             20               LL-Null:          -14499.
Df Residuals:         41167            LLR p-value:      0.0000
Converged:            1.0000           Scale:            1.0000
No. Iterations:       8.0000
-------------------------------------------------------------------
                  Coef.   Std.Err.    z     P>|z|   [0.025   0.975]
-------------------------------------------------------------------
const            -24.2623  13.2751  -1.8277 0.0676 -50.2809  1.7564
age                0.0055   0.0017   3.1752 0.0015   0.0021  0.0089
campaign          -0.0485   0.0093  -5.1962 0.0000  -0.0667 -0.0302
pdays             -0.0018   0.0001 -23.4401 0.0000  -0.0020 -0.0017
previous          -0.2703   0.0346  -7.8041 0.0000  -0.3382 -0.2025
emp.var.rate      -0.4721   0.0586  -8.0497 0.0000  -0.5870 -0.3571
cons.price.idx     0.5511   0.0842   6.5477 0.0000   0.3861  0.7161
cons.conf.idx      0.0190   0.0052   3.6950 0.0002   0.0089  0.0291
euribor3m          0.0395   0.0740   0.5337 0.5936  -0.1056  0.1846
nr.employed       -0.0053   0.0013  -4.2208 0.0000  -0.0077 -0.0028
job_admin.        -0.0023   0.0477  -0.0489 0.9610  -0.0959  0.0912
job_blue-collar   -0.3927   0.0558  -7.0351 0.0000  -0.5020 -0.2833
job_entrepreneur  -0.2008   0.1049  -1.9149 0.0555  -0.4064  0.0047
job_housemaid     -0.2005   0.1204  -1.6645 0.0960  -0.4366  0.0356
job_management    -0.1072   0.0727  -1.4759 0.1400  -0.2496  0.0352
job_services      -0.2945   0.0710  -4.1452 0.0000  -0.4337 -0.1552
job_student        0.2484   0.0964   2.5775 0.0100   0.0595  0.4374
job_unemployed    -0.0907   0.1077  -0.8421 0.3997  -0.3017  0.1204
marital_married    0.0309   0.0586   0.5277 0.5977  -0.0839  0.1458
marital_single     0.1566   0.0665   2.3567 0.0184   0.0264  0.2869
marital_unknown    0.3441   0.3509   0.9808 0.3267  -0.3436  1.0318
===================================================================

In [0]:
sel3 = ['const',
 'age',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'nr.employed',
 'job_blue-collar',
 'job_entrepreneur',
 'job_services',
 'job_student',
 'marital_single',]

In [127]:
import statsmodels.api as sm
logit_model1=sm.Logit(y,X1[sel3])
result1=logit_model1.fit()
print(result1.summary2())

Optimization terminated successfully.
         Current function value: 0.285980
         Iterations 8
                          Results: Logit
===================================================================
Model:                Logit            Pseudo R-squared: 0.188
Dependent Variable:   y                AIC:              23585.8977
Date:                 2019-07-03 17:25 BIC:              23706.6604
No. Observations:     41188            Log-Likelihood:   -11779.
Df Model:             13               LL-Null:          -14499.
Df Residuals:         41174            LLR p-value:      0.0000
Converged:            1.0000           Scale:            1.0000
No. Iterations:       8.0000
-------------------------------------------------------------------
                  Coef.   Std.Err.    z     P>|z|   [0.025   0.975]
-------------------------------------------------------------------
const            -27.7670  10.6228  -2.6139 0.0090 -48.5873 -6.9467
age                0.0053   0.0017   3.1666 0.0015   0.0020  0.0086
campaign          -0.0487   0.0093  -5.2360 0.0000  -0.0670 -0.0305
pdays             -0.0018   0.0001 -23.4428 0.0000  -0.0020 -0.0017
previous          -0.2703   0.0346  -7.8073 0.0000  -0.3381 -0.2024
emp.var.rate      -0.4551   0.0523  -8.7058 0.0000  -0.5575 -0.3526
cons.price.idx     0.5646   0.0767   7.3648 0.0000   0.4144  0.7149
cons.conf.idx      0.0212   0.0033   6.4751 0.0000   0.0147  0.0276
nr.employed       -0.0048   0.0008  -6.3283 0.0000  -0.0063 -0.0033
job_blue-collar   -0.3679   0.0487  -7.5536 0.0000  -0.4633 -0.2724
job_entrepreneur  -0.1733   0.1015  -1.7067 0.0879  -0.3722  0.0257
job_services      -0.2729   0.0655  -4.1685 0.0000  -0.4012 -0.1446
job_student        0.2631   0.0911   2.8885 0.0039   0.0846  0.4416
marital_single     0.1365   0.0427   3.1975 0.0014   0.0528  0.2201
===================================================================

In [0]:
sel3 = ['const',
 'age',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'nr.employed',
 'job_blue-collar',
 'job_services',
 'job_student',
 'marital_single',]

In [129]:
import statsmodels.api as sm
logit_model1=sm.Logit(y,X1[sel3])
result1=logit_model1.fit()
print(result1.summary2())

Optimization terminated successfully.
         Current function value: 0.286017
         Iterations 8
                          Results: Logit
==================================================================
Model:               Logit            Pseudo R-squared: 0.188
Dependent Variable:  y                AIC:              23586.9197
Date:                2019-07-03 17:25 BIC:              23699.0565
No. Observations:    41188            Log-Likelihood:   -11780.
Df Model:            12               LL-Null:          -14499.
Df Residuals:        41175            LLR p-value:      0.0000
Converged:           1.0000           Scale:            1.0000
No. Iterations:      8.0000
------------------------------------------------------------------
                 Coef.   Std.Err.    z     P>|z|   [0.025   0.975]
------------------------------------------------------------------
const           -27.2631  10.6253  -2.5659 0.0103 -48.0883 -6.4380
age               0.0053   0.0017   3.1873 0.0014   0.0021  0.0086
campaign         -0.0486   0.0093  -5.2267 0.0000  -0.0669 -0.0304
pdays            -0.0018   0.0001 -23.4607 0.0000  -0.0020 -0.0017
previous         -0.2703   0.0346  -7.8087 0.0000  -0.3381 -0.2024
emp.var.rate     -0.4527   0.0523  -8.6584 0.0000  -0.5552 -0.3502
cons.price.idx    0.5620   0.0767   7.3276 0.0000   0.4117  0.7123
cons.conf.idx     0.0214   0.0033   6.5437 0.0000   0.0150  0.0278
nr.employed      -0.0049   0.0008  -6.3972 0.0000  -0.0063 -0.0034
job_blue-collar  -0.3584   0.0484  -7.4022 0.0000  -0.4533 -0.2635
job_services     -0.2642   0.0653  -4.0460 0.0001  -0.3922 -0.1362
job_student       0.2671   0.0911   2.9329 0.0034   0.0886  0.4456
marital_single    0.1416   0.0426   3.3258 0.0009   0.0582  0.2251
==================================================================

In [0]:
sel4 = [ 'age',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'nr.employed',
 'job_blue-collar',
 'job_services',
 'job_student',
 'marital_single']

In [136]:
lreg3 = LogisticRegression()
lreg3.fit(X1[sel4] , y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [146]:
accuracy_score(y,lreg3.predict(X1[sel4]))

0.8995095658929786

In [152]:
pd.DataFrame(rfe.support_ , index = X.columns , columns=['Selected']).reset_index().query('Selected == True')

               index  Selected
3           previous      True
7          euribor3m      True
14       job_retired      True
17       job_student      True
34   default_unknown      True
44         month_apr      True
45         month_aug      True
49         month_mar      True
50         month_may      True
51         month_nov      True
54  poutcome_failure      True
56  poutcome_success      True

In [153]:
sel4

['age',
 'campaign',
 'pdays',
 'previous',
 'emp.var.rate',
 'cons.price.idx',
 'cons.conf.idx',
 'nr.employed',
 'job_blue-collar',
 'job_services',
 'job_student',
 'marital_single']

In [0]:
from sklearn.metrics import confusion_matrix

In [155]:
confusion_matrix(y , lreg3.predict(X1[sel4]))

array([[36177,   371],
       [ 3768,   872]])

In [156]:
confusion_matrix(y , rfe.predict(X))

array([[36148,   400],
       [ 3758,   882]])

In [159]:
!pip install pandas_ml

Collecting pandas_ml
  Downloading https://files.pythonhosted.org/packages/ae/72/6d90debfcb9ea74ec00927fa7ed0204dcc560b1f9ffcd8b239daa7fd106d/pandas_ml-0.6.1-py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 4.7MB/s
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (0.24.2)
Requirement already satisfied: enum34 in /usr/local/lib/python3.6/dist-packages (from pandas_ml) (1.1.6)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (1.16.4)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.19.0->pandas_ml) (2.5.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.5.0->pandas>=0.19.0->pandas_ml) (1.12.0)
Installing collected packages: pandas-ml
Successfully installed pandas-ml-0.6.1

In [0]:
from pandas_ml import ConfusionMatrix

In [163]:
ConfusionMatrix(y , rfe.predict(X))

Predicted  False  True  __all__
Actual
False      36148   400    36548
True        3758   882     4640
__all__    39906  1282    41188